/*
 * Navigation_bar css File
*/

body{
  background: #dfecff;
  color: #7f8db0;
}

a{
   color: #7f8db0;
}
.Navigation_bar {
  /* propertys here */
}
.notifLogo {
}
.p{
  font-size: 12px;
}
.notifButton {
  padding: .1rem 0.5rem;
}
.notifDropdown{
  width : 350px
}