/*
 * Navigation_bar css File
*/

body {
  background: #dfecff;
  color: #7f8db0;
}

a {
  color: #7f8db0;
}
.Navigation_bar {
  /* propertys here */
}

.p {
  font-size: 12px;
  margin: 1px;
}
.notifButton {
  padding: 0.1rem 0.5rem;
  margin: 1px;
}
.notifDropdown {
  width: 350px;
}
